header {
    height: 100vh;
    width: 62px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #403f3f;
    position: absolute;

    .column-nav-list {
        margin: 0 15px;
    }

    nav {
        display: flex;
        flex-direction: column;
    }

    a {
        padding: 10px 0;
        width: 32;
        align-items: center;
    }
}